# ------------------------------------------------------------------
# Prerequisites
*.d

# ------------------------------------------------------------------
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# ------------------------------------------------------------------
# Precompiled Headers
*.gch
*.pch

# ------------------------------------------------------------------
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# ------------------------------------------------------------------
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# ------------------------------------------------------------------
# Compiled Executables
*.exe
*.out
*.app

# ------------------------------------------------------------------
# Geode-specific artifacts
*.geode        # packaged mods
*.pdb          # debug symbols
*.exp
*.idb
*.ilk
*.dmp          # crash dumps
*.log          # runtime logs

# ------------------------------------------------------------------
# Build directories
build/
**/build
build-*/

# ------------------------------------------------------------------
# IDE / Editor configs
# VS Code
.vscode/
.history/
.cache/

# CLion
.idea/
cmake-build-*/

# Visual Studio
.vs/

# ------------------------------------------------------------------
# macOS
.DS_Store

# ------------------------------------------------------------------
# Sublime Text cache
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
